# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

*.csv

*.apk

**/out/
*.jar
*.war
*.zip
*.tar
*.tar.gz
*.pid
*.orig
temp/
/target/
.idea/
